/* 0 - html5doctor.com Reset v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) - http://cssreset.com */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}
/* - base */

body {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    font-family: Arial, sans-serif;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
}

#wrapper {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: transparent;
    /*background-image: url("../img/fond.jpg");*/
    
    background-position: center;
    background-repeat: no-repeat;
}

#first_screen {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
}

#bg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background: transparent;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background: #c3b0b1;
    /* -webkit-animation: bgAnim 2s linear both;
    animation: bgAnim 2s linear both;*/
}

@-webkit-keyframes bgAnim {
    0% {
        background: transparent;
        opacity: 0;
        bottom: -140%;
    }
    100% {
        background: #c3b0b1;
        bottom: 0%;
        opacity: 1;
    }
}

@keyframes bgAnim {
    0% {
        background: transparent;
        opacity: 0;
        bottom: -140%;
    }
    100% {
        background: #c3b0b1;
        bottom: 0%;
        opacity: 1;
    }
}

#logo {
    z-index: 1;
    position: absolute;
    height: 5.8%;
    width: 36.3%;
    top: 4.6%;
    left: 50%;
    opacity: 1;
    background-image: url(../img/logo.png);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#style {
    opacity: 0;
    position: absolute;
    height: 7.8%;
    width: 75%;
    top: 43%;
    left: 50%;
    background-image: url(../img/style.png);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#girl {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0%;
    bottom: 0;
    background-image: url(../img/girl.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#dites {
    opacity: 0;
    position: absolute;
    height: 7.8%;
    width: 70.5%;
    top: 43%;
    left: 50%;
    background-image: url(../img/dites.png);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}

.ditesAnim {
    -webkit-animation: ditesAnim 2s both linear;
    animation: ditesAnim 2s both linear;
}

@-webkit-keyframes ditesAnim {
    0% {
        opacity: 0;
        top: 43%;
    }
    70% {
        opacity: 1;
        top: 43%;
    }
    100% {
        opacity: 1;
        top: 15.3%;
    }
}

@keyframes ditesAnim {
    0% {
        opacity: 0;
        top: 43%;
    }
    70% {
        opacity: 1;
        top: 43%;
    }
    100% {
        opacity: 1;
        top: 15.3%;
    }
}

#nouveau {
    opacity: 1;
    position: absolute;
    height: 2%;
    width: 24.6%;
    top: 15%;
    left: 50%;
    background-image: url(../img/nouveau.png);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#hypnose {
    opacity: 1;
    position: absolute;
    height: 7.9%;
    width: 78%;
    top: 18%;
    left: 50%;
    background-image: url(../img/hypnose.png);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#product {
    position: absolute;
    height: 74.2%;
    width: 60%;
    bottom: 10%;
    left: 50%;
    opacity: 1;
    -webkit-transform: translateX(-50%)rotate(90deg)scale(.9);
    transform: translateX(-50%)rotate(90deg)scale(.9);
    background-image: url(../img/product.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.productAnim {
    -webkit-animation: productAnim 2s linear both;
    animation: productAnim 2s linear both;
}

@-webkit-keyframes productAnim {
    0% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: -75%;
    }
    50% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 4%;
    }
    60% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 4%;
    }
    100% {
        bottom: 10%;
        -webkit-transform: translateX(-50%)rotate(90deg)scale(.9);
        transform: translateX(-50%)rotate(90deg)scale(.9);
    }
}

@keyframes productAnim {
    0% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: -75%;
    }
    50% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 4%;
    }
    60% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 4%;
    }
    100% {
        bottom: 10%;
        -webkit-transform: translateX(-50%)rotate(90deg)scale(.9);
        transform: translateX(-50%)rotate(90deg)scale(.9);
    }
}

#CTA_1, #CTA_2{
    display: none;
    transition: display 0.5s linear;
}

#CTA_1 {
    position: absolute;
    height: 6.7%;
    width: 57.2%;
    bottom: 13%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 1;
    background-image: url(../img/CTA_1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#CTA_2 {
    position: absolute;
    height: 6.7%;
    width: 57.2%;
    bottom: 5%;
    left: 50%;
    opacity: 1;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: url(../img/CTA_2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes ditesAnimLandscape {
    0% {
        opacity: 0;
        top: 43%;
    }
    70% {
        opacity: 1;
        top: 43%;
    }
    100% {
        opacity: 1;
        top: 18%;
    }
}

@keyframes ditesAnimLandscape {
    0% {
        opacity: 0;
        top: 43%;
    }
    70% {
        opacity: 1;
        top: 43%;
    }
    100% {
        opacity: 1;
        top: 18%;
    }
}
/* MAPS */

#mapScreen {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#map-canvas {
    position: absolute;
    width: 100%;
    height: 86%;
    bottom: 0;
    left: 0;
}

#logo-infobulle {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 5px 0;
    width: 90px;
}

#text-infobulle {
    padding: 1em 0;
    font-size: 0.8em;
}
/* format */

@media screen and (orientation: landscape) {
    .ditesAnim {
        -webkit-animation: ditesAnimLandscape 2s both linear;
        animation: ditesAnimLandscape 2s both linear;
    }
    #logo {
        height: 8.8%;
    }
    #style {
        height: 12.8%;
        width: 75%;
    }
    #dites {
        height: 12.8%;
        top: 18%;
    }
    #nouveau {
        height: 3%;
        top: 18%;
    }
    #hypnose {
        height: 9.9%;
        top: 22%;
    }
    #girl {
        opacity: 0;
        position: absolute;
        height: 100%;
        width: 50%;
        right: 0%;
        bottom: 0;
        background-image: url(../img/girl.jpg);
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
}

@media only screen and (orientation: portrait) {}
/* 1 - preloader */

#acf-loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    /*line-height:470px;*/
    
    text-align: center;
}

#acf-loader span {
    display: block;
    -webkit-animation: bounce 3s infinite ease-in-out;
    animation: bounce 3s infinite ease-in-out;
}

#spiner {
    position: relative;
    margin: 0 auto;
    height: 35px;
    width: 35px;
    border-top: 4px solid lightgrey;
    border-left: 4px solid orange;
    border-bottom: 4px solid lightgrey;
    border-right: 4px solid orange;
    border-radius: 100px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    -webkit-animation: rotate 0.8s infinite linear;
    animation: rotate 0.8s infinite linear;
}

.landscapeMode #imagesLoaderContainer {
    position: absolute;
    margin: 25% 48%;
    vertical-align: top;
}

#imagesLoaderContainer {
    position: absolute;
    margin: 45% 48%;
    vertical-align: top;
}
/* loader css motion */

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: scale(0.9);
    }
    50% {
        -webkit-transform: scale(1);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
/* 2 - helpers */

.hide {
    display: none;
}

.visible {
    display: block;
}

.motion {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-out {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.toggleScale {
    -webkit-animation-name: toggleScale;
    animation-name: toggleScale;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1);
    transform: scale(1);
}

@-webkit-keyframes toggleScale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes toggleScale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@-webkit-keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInRight {
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInRight {
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}

@-webkit-keyframes bounceOutRight {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(-20px, 0, 0);
        transform: translate3d(-20px, 0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }
}

@keyframes bounceOutRight {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(-20px, 0, 0);
        transform: translate3d(-20px, 0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }
}

.bounceOutRight {
    -webkit-animation-name: bounceOutRight;
    animation-name: bounceOutRight;
}
